<ion-content>
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide *ngFor="let slide of slides">
      <ion-icon name="close" (click)="finish()" ></ion-icon>
      <div class="ion-text-uppercase">
        <h1 class="introTitulo">{{slide.title}}</h1>
      </div>

      <!-- <p>{{slide.desc}}</p> -->
      <h2 class="introSubtitulo">{{slide.subtitle}}</h2>
      <img src={{slide.img}} alt="">
      <div class="ion-text-capitalize">
        <p>
          {{slide.description}}
        </p>
      </div>

    </ion-slide>

  </ion-slides>
</ion-content>