ion-button {
    font-size: 12px!important;
}
#imgAuthor{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

.logoTarjeta{
    // max-height: 100px;
}
.detalleLibro{
    font-size: 10px;
}