<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <p class="ion-text-center ion-text-uppercase">Hola soy el home</p>
    <ion-slides [options]="slideOps">
        <ion-slide *ngFor="let author of authors">
            <ion-avatar (click)="showBooksByAuthor(author)">
                <img src="{{author.photo}}"/>
                <span class="nombreAuthor">{{author.name}}</span>
            </ion-avatar>
        </ion-slide>
    </ion-slides>

</ion-content>