<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()" class="ion-text-capitalize">
        <ion-icon name="chevron-back-outline"></ion-icon>&nbsp;Atras
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="figImgLogo">
    <img src="./assets/img/logo.png" class="imgLogo" alt="ImagenLogin" />
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">

    <!-- <ion-list> -->
    <ion-item class="itemRegistro">
      <ion-select formControlName="document_type" placeholder="Tipo Documento">
        <ion-select-option value="cc">Cedula Ciudadania</ion-select-option>
        <ion-select-option value="ti">Tarjeta Identidad</ion-select-option>
        <ion-select-option value="ce">Cedula Extranjeria</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- </ion-list> -->

    <ion-item class="itemRegistro">
      <ion-label position="floating">Numero documento</ion-label>
      <ion-input placeholder="" formControlName="document_number"> </ion-input>
    </ion-item>


    <ion-item class="itemRegistro">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="" formControlName="name"></ion-input>
    </ion-item>

    <ion-item class="itemRegistro">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input placeholder="" formControlName="last_name"></ion-input>
    </ion-item>



    <ion-item class="itemRegistro">
      <ion-label position="floating">Carrera</ion-label>
      <ion-input placeholder="" formControlName="career"></ion-input>
    </ion-item>

    <ion-item class="itemRegistro">
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="itemRegistro">
      <ion-label position="floating">Contraseña</ion-label>
      <!-- <ion-input placeholder="" formControlName="password"></ion-input> -->
      <ion-input placeholder="" type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="divButton">
      <ion-button  class="itemRegistro" shape="round" color="danger" type="submit">
        Registrarse
      </ion-button>
    </div>


  </form>


</ion-content>